.bestilling-content {
    /*max-width: 90%;*/
    width: 100%;
    position: relative;
    padding-top: 70px;
    margin: 0 auto;
    min-height: 100vh;
    .sidebar {
        position: fixed;
        left: 0;
        top: 70px;
        height: calc(100vh - 70px);;
        box-sizing: border-box;
        width: 200px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px 20px;
        box-sizing: border-box;
        background: white;
        z-index: 2;
        h4.header {
            text-align: center;
            font-family: 'reklame-script';
            letter-spacing: .2rem;
            margin: 15px 0 20px;
            font-size: 4rem;
            color: $accent;
        }
        .sok-content {
            position: relative;
            top: 0;
            height: auto;
            width: 100%;
        }
        .sok-reset {
            display: block;
            text-align: center;
            font-style: italic;
            font-size: 1.4rem;
            margin-bottom: 30px;
            opacity: .4;
            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }
        .sokefelt {
            position: relative;
            background: white;
            border: 1px solid $accent;
            padding: 3px 10px 3px 3px;
            font-size: 1.6rem;
            margin: 10px 0;
            text-align: center;
            font-weight: 300;
            color: $accent;
            z-index: 2;
            &:hover {
                cursor: pointer; 
                color: rgba($accent, .7);
                border-color: rgba($accent, .7);
                &:after {opacity: .7}
            }
            &:after {
                content: '';
                background-image: url('/assets/img/icons/expand-accent.svg');
                background-position: center bottom;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                right: 2px;
                top: calc(50% - 7px);
                height: 15px;
                width: 15px;
            }
            &.grayed {
                font-style: italic;
                color: rgba($accent, 0.8)
            }
        }
        button {
            background: $accent;
            border: 2px solid $accent;
        }

        .bekreft-bestilling {
            position: relative;
            top: 0;
        }
    }
    .main {
        margin-left: 200px;
        width: calc(100% - 200px);
        box-sizing: border-box;
        background:rgba(142, 161, 169, 0.18);
        position: relative;
         //pointer-events: none;
    }
    .bil-visning {
        @include row();
        padding: 50px;
        max-width: 1500px;
        @include mq('max-width: 1000px') {
            padding: 50px 20px;
        }
        .en-bil {
            position: relative;
            @include col(3);

            @include mq('max-width: 1150px') {
                @include col(4)
            }
            @include mq('max-width: 950px') {
                @include col(6)
            }
            @include mq('max-width: 900px') {
                @include col(4)
            }
            @include mq('max-width: 750px') {
                @include col(6)
            }
            @include mq('max-width: 550px') {
                @include col(12)
            }
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-self: center;
            box-sizing: border-box;
            border: 0px solid transparent;
            height: 250px;
            overflow: hidden;
            box-shadow: 0 5px 30px -10px;
            .en-bil-img {
                height: 100%;
                width: 100%;
                background-position: center center;
                background-size: cover;
                transition: .2s all ease;
            }
            .en-bil-desc {
                position: absolute;
                padding: 0;
                bottom: 10px;
                right: 0;
                width: 100%;
                background: rgba(75, 149, 204, 0.85);
                color: white;
                z-index: 1;
                .en-bil-desc-left {
                    float: left;
                    padding: 5px;
                }
                .en-bil-desc-right {
                    float: right;
                    padding: 5px 5px 5px 10px;
                    background: rgba(54, 118, 140, 0.62)
                }
                .fat {
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-right: 2px
                }
            }
            .en-bil-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,.5);
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: .2s all ease-in-out;
                .en-bil-velg, .en-bil-info {
                    position: relative;
                    height: 50px;
                    width: 50px;
                    margin: 0 20px;
                    background-position: center center;
                    background-size: contain;
                    z-index: 1;
                    background: rgba(85, 95, 111, 0.91);
                    transform: translateY(50px);
                    transition: .2s all ease-in-out, .2s transform cubic-bezier(0.37, 1.67, 1, 1);
                    &:before {
                        content: '';
                        position: absolute;
                        width: 100%; height: 100%;
                        padding: 6px;
                        box-sizing: border-box;
                        z-index: -1;
                        background-origin: content-box;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: contain;
                    }
                }
                
                >.en-bil-velg:before {
                    background-image: url('/assets/img/icons/cart.svg');
                }
                >.en-bil-info:before {
                    background-image: url('/assets/img/icons/info.svg');
                }
                
            }
            &:hover:not(.valgt):not(.disabled) {
                cursor: pointer;
                .en-bil-overlay {opacity: 1;}  
                .en-bil-velg, .en-bil-info {transform: translateY(0px);}
                .en-bil-velg:hover {background: rgb(81, 171, 82)}
                .en-bil-info:hover {background: #8a9fbf}
                .en-bil-img {transform: scale(1.05);}

            }
            &:after {
                    content: url('/assets/img/icons/check-white.svg');
                    display: flex;justify-content: center;
                    align-items: center;    
                    position: absolute;
                    width: 100%; height: 100%;
                    transition: .2s all ease-in-out, .5s transform cubic-bezier(0.37, 1.67, 1, 1);
                    background: rgba(81, 171, 82, .7);
                    visibility: hidden; 
                    opacity: 0;
                    top: 0; 
                    left: 0;
                }
            &.valgt {
                .en-bil-img {transform: scale(1.15);}
                .en-bil-desc {
                    z-index: 1; 
                    color: green; 
                    background: rgba(white, .9);
                    .en-bil-desc-right {background: rgba(white, 1)}
                }
                &:after {
                    transform: scale(2);
                    visibility: visible;
                    opacity: 1;
                }
            }
            &.disabled {
                opacity: .1;
                box-shadow: none;
                &:after {
                    content: '';
                    background: rgba(gray, .7);
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        
    }
    .bil-info{
        position: absolute;
        top: calc(50% - 500px);
        left: 0;
        width: calc(100%);
        min-height: 300px;
        visibility: hidden;
        z-index: -1;

        opacity: 0;
        transition: .2s all ease;
    }
    .bil-info.showing {
        height: 100%;
        top: 0;
        z-index: 1;
        opacity: 1;
        visibility: visible;
        background: rgba($accent, 0.2);
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-top: 50px;
        cursor: pointer;
        .bil-info-container {
            cursor: auto;
            background: white;
            border-radius: 5px;
            padding: 20px;
        }
    }

}


.bekreft-bestilling {
    max-width: 100%;
    width: 100%;
    .bb-cont {
        border: solid $text-color;
        border-width: 1px 0 1px 0;
        height: 120px;
        padding: 5px 5px;
        position: relative;
        box-shadow: 0 0 10px -7px inset;
        .bb-bil, .bb-pris{
            display: block;
        }
        .bb-lengde {
            color: #aaa
        }
        .bb-bil {font-weight: 500; text-transform: uppercase}
        .bb-datoer {
            font-size: 1.25rem;
        }
        .bb-pris {
            position: absolute;
            bottom: 5px;
            left: 0;
            font-weight: bold
        }
    }
    .form-group {
        margin-top: 10px;
        max-width: 100%;
        display: flex; justify-content: space-between;
        position: relatve;
        input[type='text'] {
            position: relative;
            font-size: 1.4rem;
            font-family: 'europa';
            font-weight: 300;
            padding: 6px;
            box-sizing: border-box;
            width: 45%;
            height: 33px;
            border: 1px solid #ddd;
            color: #666
        }
    }
    button.bb-send {
        background: $accent;
        color: white;
        border: 1px solid $accent;
        border-radius: 0px;
        font-family: "europa";
        font-size: 1.5rem;
        font-weight: 500;
        padding: 8px 10px;
        margin: 0;
        transition: .2s all ease;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.2rem;
        height: 33px;
        &:hover, &:focus {background: white; color: $accent; outline: none; cursor: pointer;}
        &:disabled {opacity: 0.2; background: rgba($accent, .5); border-color: rgba($accent, .5);}
    }
    .errors {display: block; margin: 10px 0; color: indianred}

    
}


@include mq('max-width: 900px') {
    .bestilling-content {
        .sidebar{
            pointer-events: none;
            width: 100%;
            background: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: calc(100vh - 70px);
            top: 70px;
            //background: rgba(pink, 0.2);
            padding: 0;
            .sok-content {
                position: absolute;
                top: 0;
                left: 0;
                pointer-events: auto;
                display: flex;
                justify-content: center;
                background: white;
                height: 70px;
                box-shadow: 0 0 23px -10px;
                padding: 0 0 0 34px;
                box-sizing: border-box;
                @include mq('max-width: 520px') {
                        padding: 0 0 0 10px;
                }
                .header {
                    margin: 0;
                    position: absolute;
                    left: 20px;
                    top: 10px;
                    @include mq('max-width: 720px') {
                        display: none;
                    }
                }
                .sokefelt {
                    width: 200px;
                    margin: 18px;
                    @include mq('max-width: 720px') {
                        width: 180px;
                        margin: 18px 5px;
                    }
                    @include mq('max-width: 520px') {
                        width: 50%;
                        margin: 18px 5px;
                    }
                    @include mq('max-width: 420px') {
                        font-size: 1.4rem;
                        padding: 4px 0;
                        &:after {
                            display: none;
                        }
                    }
                }
                .sok-reset {
                    content: url('/assets/img/icons/reset.svg');
                    color: transparent;
                    opacity: 1;
                    margin: 24px 10px;
                    @include mq('max-width: 720px') {
                        right: 5px;
                    }
                }
            }
            .bekreft-bestilling.showing {
                transform: translateY(0px);
                border-bottom: 10px solid #52a3e2;
            }

            .bekreft-bestilling {
                position: absolute;
                bottom: 0;
                left: 0;
                top: auto;
                background: $accent;
                pointer-events: auto;
                height: 60px;
                display: flex;
                justify-content: center;
                transform: translateY(100px);
                transition: .4s all ease;
                .bb-cont {
                    border: 0;
                    color: white;
                    line-height: 60px;
                    position: absolute;
                    left: 5%;
                    top: 0;
                    padding: 0;
                    @include mq('max-width: 770px') {
                        .bb-datoer {
                            display: none;
                        }
                    }
                    @include mq('max-width: 650px') {
                        .bb-datoer {
                            display: none;
                        }
                        .bb-pris{
                            margin-left: 10px;
                            font-size: 1.6rem;
                        }
                    }
                    @include mq('max-width: 530px') {
                        .bb-bil, .bb-lengde {
                            display: none;
                        }
                        .bb-pris{
                            border: none;
                            margin-right: 20px;
                        }
                        right: calc(10% + 60px);
                        left: auto;

                    }
                }
                .bb-din-bestilling {
                    display: none;
                }
                .bb-bil, .bb-pris, .bb-lengde, .bb-datoer{
                    display: inline;
                    bottom: auto;
                    font-size: 1.55rem;
                }
                .bb-lengde {
                    color: white;
                    margin-left: 5px;
                }
                .bb-pris{
                    margin-left: 25px;
                    font-size: 1.8rem
                }
                .bb-bil {font-weight: 500}
                .bb-datoer {
                    font-style: italic;
                }
                .bb-pris {
                    position: relative;
                    font-weight: bold;
                    border-left: 1px solid;
                            padding: 10px;
                }
                div {
                    display: inline;
                    
                }
                .errors {
                    display: none;
                }
                .errors.showing {
                    display: block;
                    position: absolute;
                    margin: 10px 0;
                    width: 100%;
                    text-align: center;
                    font-size: 2rem;
                    font-weight: 500;
                    line-height: 60px;
                    height: 100%;
                    color: white;
                    top: -10px;
                    left: 0;
                    background: rgba(197, 25, 25, 0.89);
                    border-bottom: 10px solid #e0323b;
                }
                .form-group {
                    position: absolute;
                    right: 5%;
                    top: 0;
                    padding: 10px 0;
                    margin: 0;
                    height: 60px;
                    
                    input[type='text'] {
                        width: 60px;
                        margin: 0 10px;
                        height: 40px;
                        @include mq('max-width: 610px') {
                            display: none;
                        }
                    }
                    button {
                        border-color: white;
                        height: 40px;
                    }
                }
            }
        }
        .main {
            margin: 0;
            padding-top: 50px;
            width: 100%;
        }
    }
}