.bil-single {
    padding-top: 70px;
}
.bil-single-hero {
    background-image: url(/assets/img/biler/1/largeimg.jpg);
    height: 500px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq('max-width: 800px') {
        height: 400px;
    }
    @include mq('max-width: 500px') {
        height: 300px;
    }
    .bil-single-hero-text {
        z-index: 1;
        background: radial-gradient(ellipse at center, #444444 0%, rgba(97, 150, 197, 0) 73%, rgba(125, 185, 232, 0) 100%);
        h4 {   
            margin: 0;
            color: white;
            font-size: 7rem;
            @include mq('max-width: 750px') {
                font-size: 5rem;
            }
            @include mq('max-width: 470px') {
                font-size: 3rem;
            }
            span:first-child {
                text-transform: uppercase;
                font-weight: bold;
            }
            span:last-child {
                text-transform: capitalize;
                font-weight: 200;

            }
        }
    }
}

.bil-single-content {
    //@include row();
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 700px;
    max-width: 90%;
    margin: 40px auto 0;
    .table-wrapper {
        @include col(12);
    }
    table {
        width: 180px;
        margin: 0 auto;
        border-width: 1px 0;
        padding: 10px 0;
        border-collapse: collapse;
        td:nth-child(odd) {
            text-align: right;
            padding: 0 15px 0 0;
            font-weight: 500;
            border-right: 1px solid rgba($accent, 0.2);
        }
        td:nth-child(even) {
            text-align: left;
            padding: 0 0 0 15px;
        }
    }
    button {
        background: white;
        color: $accent;
        border: 1px solid;
        border-radius: 0px;
        font-family: "europa";
        font-size: 1.5rem;
        font-weight: 500;
        padding: 8px 10px;
        margin: 5px auto;
        transition: .2s all ease;
        text-align: center;
        text-transform: uppercase;
        margin: 10px 5px 20px;

        &:hover, &:focus {background: $accent; color: white; outline: none; cursor: pointer;}
    }
}
.map-header {
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin: 20px 0 10px;
}
.map-wrapper {
    width: 100%;
    margin: 0 auto;
    height: 400px;
    max-height: 50vh;
    @include mq('max-width: 600px') {
        height: 300px;
    }
}




.biler-page {
    padding-top: 70px;
}

.biler-page-content {
    @include row();
    width: 1000px;
    max-width: 90%;
    margin: 30px auto;
    h2 {
        margin-bottom: 30px;
        @include mq('max-width: 550px') {
            font-size: 6rem;
        }
        @include mq('max-width: 4500px') {
            font-size: 5rem;
        }    
    }
}

.biler {
    @include col(4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    position: relative;
    box-shadow: 0 3px 20px -10px $text-color;
    transition: .2s all ease;
    &:hover {
        box-shadow: 0 5px 30px -10px $text-color;
        .biler-desc {
            transform: translateY(0px);
            .biler-info {
                opacity: 1
            }
        }
    }
    .biler-desc {
        padding-top: 20px;
        position: relative;
        color: white;
        @include mq('min-width: 550px') {
            transform: translateY(10px);
        }
        transition: .2s all cubic-bezier(0.25, 0.1, 0, 2.39);
    }
    .biler-merke {
        font-size: 2rem;
        background: radial-gradient(ellipse at center, rgba(#444444, .6) 0%, rgba(97, 150, 197, 0) 73%, rgba(125, 185, 232, 0) 100%);
        
        > span:first-child {
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .biler-info {
        background: radial-gradient(ellipse at center, rgba(#444444, .6) 0%, rgba(97, 150, 197, 0) 73%, rgba(125, 185, 232, 0) 100%);
        display: block;
        text-align: center;
        @include mq('min-width: 550px') {
            opacity: 0;
        }
        transition: .2s all ease;

    }
    @include mq('max-width: 750px') {
        height: 165px;
    }
    @include mq('max-width: 750px') {
        @include col(6);
        display: flex;
        height: 200px;
    }
    @include mq('max-width: 550px') {
        height: 150px;
    }
    @include mq('max-width: 450px') {
        @include col(12);
        display: flex;
        height: 200px;
    }

}

.biler-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(black, 0.2);
    }
}