.hero-img {
    position: relative;
    background: url('/assets/img/hero.jpg');
    background-size: cover;
    height: 550px;
    width: 100vw;
    z-index: -1;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:rgba(29, 64, 103, 0.71);
        z-index: 1;
    }
}