body {
    margin: 0;
}
.wrapper {
    max-width: 95%;
    width: 100%;
    margin: 0 auto;
}
nav.nav-bar {
    position: fixed; 
    width: 100%;
    max-width: 100%;
    top: 0;
    padding-top: 30px;
    z-index: 99;
    transition: .5s all ease,  .2s .2s background cubic-bezier(0.4, 0, 1, 1)
}
nav > .wrapper{
    position: relative;
    .nav-logo {
        display: flex;
        align-items: center;
        float: left;
        max-height: 100%;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        a {margin: 0 auto; height: 70px}
        img {
            margin: 16px auto;
            height: 38px;
        }
    }
    .main-nav-trigger {
        position: absolute;
        left: 0;
        line-height: 30px;
        margin: 20px 0;
        color: white;
        font-size: 1.8rem;
        padding: 0 0 0 40px;
        transition: .2s all ease;
        .trigger {
            position: absolute;
            top: calc(50% - 8px);
            left: 0;
            //background: red;
            height: 16px;
            width: 25px;
            
            span {
                
                position: absolute;
                width: 100%;
                height: 2px;
                background: white;
                transition: .2s all ease;

                &:nth-child(2) {
                    top: calc(50% - 1px);
                }
                &:last-child {
                    bottom: 0;
                }
            }
            
        }
        &:hover {
            cursor: pointer;
            .trigger span:nth-child(2) {
                transform: translateX(4px)
            }
        }

        @include mq('max-width: 600px') {
            > span {opacity: 0;}
        }
    } 
    .sec-nav {
        position: absolute;
        top: 0;
        right: 0; 
        font-size: 1.8rem;
        span.text {
            display: block;
            line-height: 70px;
            color: white;
            text-transform: capitalize;
            float: right;
            &.call {
                line-height: 40px; margin: 15px; border: 1px solid white; padding: 0 5px; 
                background: none;
                transition: .2s all ease;
                &:hover {
                    background: white; color: $accent;
                }
            }
            &:hover {
                cursor: pointer;
                color: #d0edff;
            }
            .navn {
                @include mq('max-width: 600px') {
                    display: none;
                }
            }
        }
        span.icon {
            content: url('/assets/img/icons/person-outline.svg');
            height: 70px;
            padding: 20px 0; box-sizing: border-box;
            top: 25px;
            padding-right: 5px;
            float: left;
        }
        span.has-dd {margin-right: 10px;}
        span.has-dd:hover {
            ul.dropdown {
                max-height: 400px; overflow: visible; 
                &:after {right: 25px;}
            }

        }
        span.more {
            content: url('/assets/img/icons/more.svg');
            padding:20px 10px;
            
        }
        span.sec {
            display: none;

            @include mq('max-width: 700px') {
                display: block;
            }
        }
        span.main {
            @include mq('max-width: 700px') {
                display: none;
            }
        }
        .has-dd ul {
            &.dropdown {
                max-height: 0;
                overflow: hidden;
                position: absolute;
                right: 0px;
                top: 60px;
                width: 125px;
                margin: 0;
                padding: 0;
                background: white;
                color: $accent;
                border-radius: 3px;
                transition: .2s all ease;
                li {
                    list-style-type: none;
                    line-height: 35px;
                    font-size: 1.6rem;
                    padding: 5px 0;
                    text-align: center;
                    &:not(:last-child) {
                        border-bottom: 1px solid rgba($accent, 0.2)
                    }
                    &:hover {
                        background: rgba($accent, 0.2)
                    }
                }
                &:after {
                    content: '';
                    position: absolute;
                    right: 13px;
                    top: -12px;
 
                    border: 6px solid transparent;
                    border-bottom-color: white;
                    box-sizing: border-box;
                }
            }
        }
    }
}

nav.scrolled {
    padding-top: 0;
    background: #4a96a3; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(right, #3a8cd1, #419fcf);
    background: -o-linear-gradient(right, #3a8cd1, #419fcf);
    background: linear-gradient(to left, #3a8cd1, #419fcf); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 5px 0px 26px -10px;
}


nav.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //box-shadow: -10px 0 20px -10px rgba(60, 60, 60, 0.61) inset;
    background: white;
    overflow-y: auto;
    background: rgba(61, 148, 208, 0.9); /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-linear-gradient(to left, rgba(109, 186, 251, 0.98), rgba(67, 141, 204, 0.95));
    background: -o-linear-gradient(to left, rgba(109, 186, 251, 0.98), rgba(67, 141, 204, 0.95));
    background: linear-gradient(to right, rgba(109, 186, 251, 0.98), rgba(67, 141, 204, 0.95));
    transition: .5s all ease,  .2s .2s background cubic-bezier(0.4, 0, 1, 1);
    z-index: 100;
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    padding: 100px 0; box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transition: .2s all ease;
    ul {
        color: white;
        font-size: 2.25rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        li {
            a {color: white; transition: .2s all ease;};
            font-family: reklame-script;
            letter-spacing: .3rem;
            position: relative;
            line-height: 80px;
            transition: .2s all ease;
            font-size: 5rem;
            transform: translateX(-10px);
            transition: .2s all ease;
            &:hover a{
                color: rgb(170, 219, 255)
            }
            opacity: 0;
            @for $i from 1 through 4 {
                &:nth-child(#{$i}){transition-delay: (.1 * $i + s)}
            }
        }
    }
    &.nav-open {
        visibility: visible;
        opacity: 1;
        ul li {
            transform: translateY(0);
            opacity: 1;
            
        }
    }
    
}

body {
    position: absolute;
    top: 0;left: 0;
    &:after {
        content: ''; 
        position: fixed; 
        top: 0;
        left: 0; 
        width: 100%; 
        height: 100%; 
        background: white; 
        background: -webkit-linear-gradient(left, #fff, rgba(255, 255, 255, 0.16));
        background: -o-linear-gradient(left, #fff, rgba(255, 255, 255, 0.16));
        background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.16));
        z-index: -1;
        opacity: 0;
        transition: .2s all ease
    }
}

body.nav-open {
    left: 250px;
    overflow: hidden;
    max-height: 100vh;
    > nav.main-nav {
        left: 0;
    }
    > .main-content, .nav-bar {
        opacity: 0.5; 
        transition: .5s all ease;
    }
    &:hover:after {
        cursor: pointer;
    }
    &:after {
        transform: translateX(250px);
        z-index: 100;        
    }

}
span.lukk {
        width: 40px; height: 40px;
        position: absolute;
        top: 5%; right: 5%;
        transform: rotate(45deg);
        //opacity: 0.7;
        &:after, &:before {
            content: '';
            position: absolute; width: 100%; height: 2px; background: white; top: calc(50% - 1px);
        }
        &:after {
            transform: rotate(90deg)
        }
        &:before {
            top: calc(50% - 1px)
        }
        &:hover {
            cursor: pointer;
        }
    }