body {
    margin: 0;
}
.wrapper {
    max-width: 95%;
    width: 100%;
    margin: 0 auto;
}
nav.nav-bar {
    position: fixed; 
    width: 100%;
    max-width: 100%;
    top: 0;
    padding-top: 30px;
    z-index: 99;
    transition: .5s all ease,  .2s .2s background cubic-bezier(0.4, 0, 1, 1)
}
nav > .wrapper{
    position: relative;
    .nav-logo {
        display: flex;
        align-items: center;
        float: left;
        max-height: 100%;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        a {margin: 0 auto; height: 70px}
        img {
            margin: 16px auto;
            height: 38px;
        }
    }
    .main-nav-trigger {
        position: absolute;
        left: 0;
        line-height: 30px;
        margin: 20px 0;
        color: white;
        font-size: 1.8rem;
        padding: 0 0 0 40px;
        transition: .2s all ease;
        .trigger {
            position: absolute;
            top: calc(50% - 8px);
            left: 0;
            //background: red;
            height: 16px;
            width: 25px;
            
            span {
                position: absolute;
                width: 100%;
                height: 2px;
                background: white;
                transition: .2s all ease;

                &:nth-child(2) {
                    top: calc(50% - 1px);
                }
                &:last-child {
                    bottom: 0;
                }
            }
            
        }
        &:hover {
            cursor: pointer;
            .trigger span:nth-child(2) {
                transform: translateX(4px)
            }
        }
        @include mq('max-width: 600px') {
            > span {opacity: 0;}
        }
    } 
    .sec-nav {
        position: absolute;
        right: 0; 
        font-size: 1.8rem;
        span {
            display: block;
            line-height: 70px;
            color: white;
        }
        span:hover ul.dropdown {max-height: 100%; overflow: visible;}
        ul {
            &.dropdown {
                max-height: 0;
                overflow: hidden;
                position: absolute;
                right: -10px;
                top: 60px;
                width: 125px;
                margin: 0;
                padding: 0;
                background: white;
                color: $accent;
                border-radius: 3px;
                transition: .2s all ease;
                li {
                    list-style-type: none;
                    line-height: 35px;
                    font-size: 1.6rem;
                    text-align: center;
                    &:not(:last-child) {
                        border-bottom: 1px solid rgba($accent, 0.2)
                    }
                    &:hover {
                        background: rgba($accent, 0.2)
                    }
                }
                &:after {
                    content: '';
                    position: absolute;
                    right: 15px;
                    top: -12px;
 
                    border: 6px solid transparent;
                    border-bottom-color: white;
                    box-sizing: border-box;
                }
            }
            /*float: right;
            color: white;
            margin: 0;
            padding: 0;
            transition: .25s all ease-in-out;
            .dropdown > ul {
                max-height: 0;
                overflow: hidden;
                transition: .2s all ease;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 100%;
            }
            li.dropdown span {float: right;}
            li.dropdown:hover > ul{
                max-height: 100%;
            }
            li {
                line-height: 70px;
                position: relative;
                display: inline;
                margin: 0 5px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    color: white;
                }
            } */
        }
    }
}

nav.scrolled {
    padding-top: 0;
    background: #4a96a3; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(right, #3a8cd1, #419fcf);
    background: -o-linear-gradient(right, #3a8cd1, #419fcf);
    background: linear-gradient(to left, #3a8cd1, #419fcf); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 5px 0px 26px -10px;
}


nav.main-nav {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    //box-shadow: -10px 0 20px -10px rgba(60, 60, 60, 0.61) inset;
    background: white;
    overflow-y: auto;
    background: #4a96a3; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(right, #4CA1AF, #4a96a3);
    background: -o-linear-gradient(right, #4CA1AF, #4a96a3);
    background: linear-gradient(to left, #68c3d2, #66b9c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: .5s all ease,  .2s .2s background cubic-bezier(0.4, 0, 1, 1);

    ul {
        background: -webkit-linear-gradient(top, #5cb6c5, rgba(255, 255, 255, 0));
        background: -o-linear-gradient(top, #5cb6c5, rgba(255, 255, 255, 0));
        background: linear-gradient(to bottom, #5cb6c5, rgba(255, 255, 255, 0));
        color: white;
        font-size: 2.25rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        li {
            position: relative;
            line-height: 70px;
            border-bottom: 1px solid rgb(134, 205, 217);
            transition: .2s all ease;
            &:hover {
                background: rgb(134, 205, 217);
            }
            &:last-child {
                border-bottom: 0px solid rgb(134, 205, 217);
            }
        }
    }
    img {
        background: rgba(white, 0.2);
        display: block;
        width: 100%;
        padding: 50px 10%;
        box-sizing: border-box;
    }
}

body {
    position: absolute;
    top: 0;left: 0;
    &:after {
        content: ''; 
        position: fixed; 
        top: 0;
        left: 0; 
        width: 100%; 
        height: 100%; 
        background: white; 
        background: -webkit-linear-gradient(left, #fff, rgba(255, 255, 255, 0.16));
        background: -o-linear-gradient(left, #fff, rgba(255, 255, 255, 0.16));
        background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.16));
        z-index: -1;
        opacity: 0;
        transition: .2s all ease
    }
}

body.nav-open {
    left: 250px;
    overflow: hidden;
    max-height: 100vh;
    > nav.main-nav {
        left: 0;
    }
    > .main-content, .nav-bar {
        opacity: 0.5; 
        transition: .5s all ease;
    }
    &:hover:after {
        cursor: pointer;
    }
    &:after {
        transform: translateX(250px);
        z-index: 100;        
    }

}