body {
    margin: 0;
}
.wrapper {
    max-width: 95%;
    width: 100%;
    margin: 0 auto;
}
nav {
    position: fixed; 
    width: 100%;
    top: 30px;
    z-index: 1;
    transition: .5s all ease,  .2s .2s background cubic-bezier(0.4, 0, 1, 1)
}
nav > .wrapper{

    .nav-logo {
        display: flex;
        align-items: center;
        float: left;
        max-height: 100%;
        height: 100%;
        width: 200px;
        box-sizing: border-box;
        img {
            margin: 16px 0;
            height: 38px;
        }
    }
    ul {
        float: right;
        color: white;
        line-height: 50px;
        margin: 0;
        padding: 0;
        li {
            display: inline;
            margin: 0 5px;
            &:last-child {
                margin-right: 0;
            }
        }   
    }
}

nav.scrolled {
    top: 0;
    background:#193452;

}