.registrer {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    min-height: 100vh;
    background: rgba(white, 0.5);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: .2s all ease;
    &.showing {
        visibility: visible;
        opacity: 1;
    }
}
.registrer-parent {
    background: white;
}

.carousel-parent {
    position: relative;
    overflow-x: hidden;
    min-height: 200px;
    width: 100%;
    overflow-y: visible;
    > .indicators {
        position: absolute;
        bottom: 0;
        //background: red;
        width: 100%;
        display: flex;
        justify-content: center;
        > .dot {
            position: relative;
            width: 10px;
            height: 10px;
            margin: 0 5px;
            background: gray;
            border-radius: 100%;
            opacity: 0.5;
            &.active {opacity: 1}
        }
    }
}

.carousel-page {
    position: absolute;
    top: 0;
    transition: .2s all ease;
    width: 100%;
}

.showing1 {
    > .carousel-page:nth-child(1) {
        left: 0;
    }
    > .carousel-page:nth-child(2) {
        left: 100%;
    }
    > .carousel-page:nth-child(3) {
        left: 200%;
    }
    > .carousel-page:nth-child(4) {
        left: 300%;
    }
}
.showing2 {
    > .carousel-page:nth-child(1) {
        left: -100%;
    }
    > .carousel-page:nth-child(2) {
        left: 0;
    }
    > .carousel-page:nth-child(3) {
        left: 100%;
    }
    > .carousel-page:nth-child(4) {
        left: 200%;
    }
}
.showing3 {
    > .carousel-page:nth-child(1) {
        left: -200%;
    }
    > .carousel-page:nth-child(2) {
        left: -100%;
    }
    > .carousel-page:nth-child(3) {
        left: 0;
    }
    > .carousel-page:nth-child(4) {
        left: 100%;
    }
}
.showing4 {
    > .carousel-page:nth-child(1) {
        left: -300%;
    }
    > .carousel-page:nth-child(2) {
        left: -200%;
    }
    > .carousel-page:nth-child(3) {
        left: -100%;
    }
    > .carousel-page:nth-child(4) {
        left: 0%;
    }
}