footer

    ul Sidekart
        li 
            a(href='/') Hjem
        li
            a(href='/biler') Biler
        li
            a(href='/bestilling') Bestilling
        li
            a(href='/minside') Min side
    span#footer-call Bli medlem
    span.cookie
        | Vi bruker cookies for å holde styr på deg som besøkende, og vi går ut i fra at det går greit.


    img(src='/assets/img/logo-color.svg')