footer
    span.til-toppen#to-top Til toppen
    span.cookie
        | Vi bruker cookies for å holde styr på deg som besøkende, og vi går ut i fra at det går greit.

    .logo-wrapper
        img(src='/assets/img/logo-color.svg')