footer
    span.til-toppen#to-top Til toppen
 
    .logo-wrapper
        img(src='/assets/img/logo-color.svg')

    .kontakter
        a(href='http://twitter.com/home?status=Bilklubben%20er%20BEST').kontakt.twitter
        a(href='https://www.facebook.com/sharer/sharer.php?u=bilklubben.rognstad.me').kontakt.fb
        a(href='').kontakt.tlf
        a(href='').kontakt.mail
    span.cookie
        | Vi bruker cookies for å holde styr på deg som besøkende, og vi går ut i fra at det går greit.
    