.hero-img
    div.call-to-action
        h2.head Revolusjonerende.
        span.line-1 Verdens desidert merkeligste bilutleie-konsept!
        button#bli-medlem.bli-medlem Bli medlem


    span#arrowdown