if auth 
    nav#navigationBar.nav-bar
        .wrapper
            #main-nav-trigger.main-nav-trigger
                span Meny
                
            .nav-logo
                a(href='/')
                    img(src='/assets/img/logo.svg')
            
            .sec-nav
                ul.sec-nav-ul 
                    li.navigation-li Du er logget inn som #{bruker.fulltNavn}
                    li.navigation-i#loggUt Logg ut
    nav.main-nav
        img(src='/assets/img/logo.svg')
        ul.main-nav-ul 
            li.navigation-li Lei en bil
            li.navigation-li Mitt abonnement
            li.navigation-li Nyheter
                
else 
    nav#navigationBar.nav-bar
        .wrapper
            #main-nav-trigger.main-nav-trigger
                span Meny
            .nav-logo
                a(href='/')
                    img(src='/assets/img/logo.svg')
            
            .sec-nav
            
                ul.sec-nav-ul 
                
                    li.navigation-li#logg-inn-trigger Logg inn
                        .logg-inn#logg-inn-react

                    li.navigation-li#registrer-trigger Bli medlem
                
    nav.main-nav
        img(src='/assets/img/logo.svg')
        ul.main-nav-ul 
            li.navigation-li Lei en bil
            li.navigation-li Mitt abonnement
            li.navigation-li Nyheter