if auth 
    nav#navigationBar.nav-bar
        .wrapper
            #main-nav-trigger.main-nav-trigger
                span Meny
                
            .nav-logo
                img(src='/assets/img/logo.svg')
            
            .sec-nav
                ul.sec-nav-ul 
                    li.navigation-li#loggUt Logg ut
    nav.main-nav
        img(src='/assets/img/logo.svg')
        ul.main-nav-ul 
            li.navigation-li Lei en bil
            li.navigation-li Mitt abonnement
            li.navigation-li Nyheter
                
else 
    nav#navigationBar.nav-bar
        .wrapper
            #main-nav-trigger.main-nav-trigger
                span Meny
            .nav-logo
                img(src='/assets/img/logo.svg')
            
            .sec-nav
                ul.sec-nav-ul 
                    li.navigation-li#loggInnLink Logg inn
                    li.navigation-li
                        a(href='/registrer') Bli medlem
                
    nav.main-nav
        img(src='/assets/img/logo.svg')
        ul.main-nav-ul 
            li.navigation-li Lei en bil
            li.navigation-li Mitt abonnement
            li.navigation-li Nyheter