if auth 
    nav#navigationBar.nav-bar.scrolled
        .wrapper
            #main-nav-trigger.main-nav-trigger
                div.trigger
                    span
                    span
                    span
                span Meny
                
            .nav-logo
                a(href='/')
                    img(src='/assets/img/logo.svg')
            
            .sec-nav
                    
                    span#morenav.text.has-dd 
                        span.navn #{bruker.fulltNavn}
                        span.icon
                        ul.dropdown
                            li.navigation-li 
                                a(href='/profil') Min side
                            li.navigation-i#loggUt Logg ut
                    
    nav.main-nav#main-nav
        span.lukk#nav-lukk
        ul.main-nav-ul 
            li.navigation-li 
                a(href='/bestilling') Lei en bil
            li.navigation-li 
                a(href='/profil') Min side
            li.navigation-li 
                a(href='/biler') Våre biler
            li.navigation-li 
                a(href='/aktuelt') Aktuelt
                
else 
    nav#navigationBar.nav-bar.scrolled
        .wrapper
            #main-nav-trigger.main-nav-trigger
                div.trigger
                    span
                    span
                    span
                span Meny
            .nav-logo
                a(href='/')
                    img(src='/assets/img/logo.svg')
            
            .sec-nav
                span.main.text#logg-inn-trigger Logg inn
                span.main.text.call#registrer-trigger Bli Medlem
                span#morenav.sec.text.has-dd 
                    span.more
                    ul.dropdown
                        li.navigation-li#dd-logg-inn-trigger Logg inn
                        li.navigation-li#dd-registrer-trigger Bli Medlem
    nav.main-nav#main-nav
        span.lukk#nav-lukk
        ul.main-nav-ul 
            li.navigation-li 
                a(href='/') Hjem
            li.navigation-li 
                a(href='/biler') Våre biler
            li.navigation-li 
                a(href='/aktuelt') Aktuelt