div.dato-container
    div#start-container.picker-container
        input#start-datepicker(type='text' hidden='hidden')
    div#slutt-container.picker-container
        input#slutt-datepicker(type='text' hidden='hidden')
    button#disable disable
