block variables

doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title=tittel
        link(rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" href="/favicon/favicon-32x32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="/favicon/favicon-16x16.png" sizes="16x16")
        link(rel="manifest" href="/favicon/manifest.json")
        link(rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="theme-color" content="#ffffff")
        link(rel='stylesheet' href='/assets/styles/main.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.5.1/css/pikaday.min.css')
        script(src="https://use.typekit.net/qsq4ljb.js")
        script.
            try{Typekit.load({ async: true });}catch(e){}
        //- include ../partials/preloader
    body
        #load-bar
            .l-dot
            .l-dot
            .l-dot
        #load-bg
        .body-container 
            if flashMsg !== false 
                #flash-msg(class='flash-msg flash-msg-' + flashMsg.type + ' flash-msg-show')
                    span #{flashMsg.msg}  
            .main-content
                

                #actual-content
                    block content
                include ../partials/footer
                
            include ../partials/logginn-registrering

            include ../partials/navbar
        block scripts
    