doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title=tittel
        link(rel='stylesheet' href='/assets/styles/main.css')
    body
        .main-content
            block content
        include ../partials/navbar

        block scripts