extends layout/main



block content
    section#bestilling-react
block scripts
    script(src='/assets/scripts/bundle.js')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcrViFlK4vqX3TUprSRVDgtI9eM7jHLKE")