extends layout/main

block content
    .biler-page
        .biler-page-content
            h2 Våre fantastike biler
            each bil in biler
                a(href='/biler/'+ bil.id).biler
                        .biler-bg(style='background-image: url(/assets/img/biler/' + bil.id + '/'  + bil.imgsm +')' )
                        .biler-desc
                            span.biler-merke 
                                span #{bil.make} 
                                span #{bil.model}
                            span.biler-info Mer info



block scripts
    script(src='/assets/scripts/bundle.js')
    
