extends layout/main

block content
    .biler-page
        .biler-page-content
    each bil in biler

                a(href='/biler/'+ bil.id).en-bil
                        .en-bil-bg(style='background-image: url(' + bil.imglg +')' )
                        .en-bil-content
                            h2 #{bil.make} #{bil.model}
                            span Mer informasjon...



block scripts
    script(src='/assets/scripts/bundle.js')
    
