extends layout/main



block content

    if !auth
        #loggInnForm
            span#loggInnKryssUt.kryss-ut
            form(method='post' action='/login')
                input(type='text' name='username')
                input(type='text' name='password')
                input(type='submit' value='logg inn')
    .price-table
        .price-item
            span.tittel Gjerrigknarken
            span.price 249,-
            span.i-mnd per mnd
            span.points 1000 BK-poeng hver m책ned!
        .price-item
            span.tittel Den middelm책dige
            span.price 490,-
            span.i-mnd per mnd
            span.points 2500 BK-poeng hver m책ned!
        .price-item
            span.tittel Onkel Skrue
            span.price 1499,-
            span.i-mnd per mnd
            span.points 10000 BK-poeng hver m책ned!

block scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.5.1/pikaday.min.js')
    script(src='/assets/scripts/bundle.js')

block variables
    - var tittel = 'i-am-the-home-page'

    