extends layout/main 

block content
    .profil-page
        .profil-content#profil-react
        .ordre-content#mine-ordre-react
block scripts
    script(src='/assets/scripts/bundle.js')

block variables
    - var tittel = 'Min side | Bilklubben - Revolusjonerende'