@import './_vendor/simpletypography.scss';
@import 'https://fonts.googleapis.com/css?family=Oxygen|Raleway:400,600';
@include setFontFamily('"Europa", "Raleway"', 300, 400, "Europa", 400);

$text-color: #333;
$accent: #3d94d0;

@import '../../../node_modules/simple-flexgrid/dist/simple-flexgrid.scss';


@import './_partials/navbar.scss';
@import './_partials/loggInnForm.scss';
@import './_partials/register.scss';
@import './_partials/hero.scss';
@import './_partials/loader.scss';


@import './_partials/pakker.scss';
@import './_partials/topbiler.scss';
@import './_partials/greia.scss';
@import './_partials/abonnement.scss';
@import './_partials/varebiler.scss';
@import './_partials/footer.scss';

@import './_partials/bestilling.scss';
@import './_partials/aktuelt.scss';
@import './_partials/biler.scss';
@import './_partials/profil.scss';


body {
    background: white;
    overflow-x: hidden;
    max-width: 100vw;
    width: 100vw;
}
html, body {
    height: 100%;
    -webkit-overflow-scrolling: touch;
}
.body-container {
    max-width: 100vw;
    overflow-x: hidden;
}




@import "../../../node_modules/simple-flexgrid/dist/simple-flexgrid.scss";
@include simpleFlexgrid();

.main-content {
    /*background: #419fcf;
    background: -webkit-linear-gradient(20deg, #3a8cd1, #419fcf);
    background: -o-linear-gradient(20deg, #3a8cd1, #419fcf);
    background: linear-gradient(20deg, #3a8cd1, #419fcf);*/
    height: 100%;
}


h2 {
    @include col(12);
    text-align: center;
    font-family: 'reklame-script';
    font-size: 8rem;
    color: #3d94d0;
}

.flash-msg {
    position: fixed;
    top: -50px;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba(gray, 0.7);
    z-index: 100;
    color: rgba(white, .8);
    font-size: 1.5rem;
    transition: .4s all cubic-bezier(0.53, -0.47, 0.79, 0.42);
    border-top: 50px solid;
    transform: translateY(-100px);
    @include mq('max-width: 650px') {
        font-size: 1.5rem;
    }
    @include mq('max-width: 450px') {
        font-size: 1.2rem;
    }
    span {
        line-height: 50px;
        display: block;
        text-align: center;
    }
}
.flash-msg-positive {
    background: rgba(7, 158, 5, 0.75);
    border-color: rgba(7, 158, 5, 0.75);
}
.flash-msg-negative {
    background: rgba(158, 5, 5, 0.75);
    border-color: rgba(158, 5, 5, 0.75);
}

.flash-msg-show {
    transform: translateY(0)
}

.logg-inn-parent input::-webkit-input-placeholder {  
   color: rgba(white, 0.6);  
}
.logg-inn-parent input:-moz-placeholder  {
   color: rgba(white, 0.6);
   opacity: 1;
}
.logg-inn-parent input::-moz-placeholder  {
   color: rgba(white, 0.6);
   opacity: 1;
}
.logg-inn-parent input::-ms-input-placeholder {  
   color: rgba(white, 0.6);  
}

.registrer-parent input::-webkit-input-placeholder {  
   color: rgba(white, 0.6);  
}
.registrer-parent input:-moz-placeholder  {
   color: rgba(white, 0.6);
   opacity: 1;
}
.registrer-parent input::-moz-placeholder  {
   color: rgba(white, 0.6);
   opacity: 1;
}
.registrer-parent input::-ms-input-placeholder {  
   color: rgba(white, 0.6);  
}

.profile-page input::-webkit-input-placeholder {  
   color: rgba(white, 0.6);  
}
.profile-page input:-moz-placeholder  {
   color: rgba(white, 0.6);
   opacity: 1;
}
.profile-page input::-moz-placeholder  {
   color: rgba(white, 0.6);
   opacity: 1;
}
.profile-page input::-ms-input-placeholder {  
   color: rgba(white, 0.6);  
}

input:not[type='radio'], input:not[type='check'] {
    -webkit-appearance: none;
    -webkit-border-radius:0px;
}



.wf-loading {
	h1, h2, h3, h4, h5, h6, p, span {
		visibility: hidden;
		transition: .2s all ease;
	}
}
 

.wf-active, .wf-inactive {
	h1, h2, h3, h4, h5, h6, p, span {
		visibility: visible;
	}
}