@import './_vendor/simpletypography.scss';
@import 'https://fonts.googleapis.com/css?family=Oxygen|Raleway:400,600';
@include setFontFamily('"Europa", "Raleway"', 300, 400, "Oxygen", 400);



@import './_partials/navbar.scss';
@import './_partials/loggInnForm.scss';
@import './_partials/register.scss';
@import './_partials/hero.scss';
@import './_partials/loader.scss';


@import './_partials/pakker.scss';


body {
    background: white;
    overflow-x: hidden;
    max-width: 100vw;
}

@import "../../../node_modules/simple-flexgrid/dist/simple-flexgrid.scss";

@include simpleFlexgrid();